{% extends "layout.html" %}
{% block content %}
  {% if content.is_edit %}
  <h1>Edit category</h1>
  {% else %}
  <h1>Add category</h1>
  {% endif %}
  <form>
    {% if content.is_edit %}
    <input type="hidden" name="id" value="{{ content.category_id }}">
    {% endif %}
    <div class="form-group">
      <label for="inputCategoryName">Category name</label>
      <input type="email" class="form-control" id="inputCategoryName" placeholder="Enter category name">
    </div>
    <button type="submit" class="btn btn-primary">
      {% if content.is_edit %}
      Save
      {% else %}
      Add
      {% endif %}
    </button>
  </form>
{% endblock %}